.img {
    display: flex;
    display: wrap;
    justify-content: space-between;
}
.container3 {
    background-color: blanchedalmond;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px ;
    width: 50%;

}
.img2{
    
    width: 180px;         
    height: auto;         
    border-radius: 12px;  
    object-fit: cover;   
    margin-right: 15px;   
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 


    
}
    
    