.Navi{
    display: flex;
    background-color: rgb(132, 133, 133);
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    margin: auto;
    border-radius: 10px;
    
}


.container{
    background-color: rgb(137, 138, 138);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin:0cm;
    
    

    
}
.ul1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.form-group{
    display: flex;
    font-family:'Times New Roman', Times, serif

}
.container2{
    background-color:rgb(234, 216, 185);
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    width:30% ;
    box-shadow: 0 2px 12px rgba(0,0,0,0.15);


}

.containerft{
    background-color: rgb(132, 133, 133);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
html {
  scroll-behavior: smooth;

}

